* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Nunito;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

main {
  width: calc(100% - 60px);
  padding: clamp(5px, 4vw, 30px);
}

.form {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 40rem) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div > label {
  font-size: 1.8em;
  font-weight: 600;
}

.form > div > input {
  font-size: 1.3em;
  border: 2px solid black;
  border-radius: 0.3em;
  width: 100%;
}

.form-button {
  grid-column: 1 / -1;
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 0.3em;
  padding: 0.5em 0.8em;
  background-color: white;
  transition: 400ms ease-out;
  cursor: pointer;
}

.form-button:hover,
.form-button:active,
.form-button:focus,
.form-button:active:focus {
  background-color: black;
  color: white;
}

.form-image {
  max-width: 700px;
  max-height: 700px;
}

.wrapper {
  position: relative;
  text-align: center;
  grid-column: 1 / -1;
}

.top-text,
.bottom-text {
  position: absolute;
  margin: auto;
  font-size: 2em;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  color: white;
}

.top-text {
  inset: 0 0 auto 0;
}

.bottom-text {
  inset: auto 0 0 0;
}
